@use '../../styles/colors.scss';

input {
  &[type='range'] {
    cursor: ew-resize;
  }

  &[type='checkbox'] {
    &,
    & + label {
      cursor: pointer;
    }
  }
}

.input-container {
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: 10px;
}

.input-toggle {
  $width: 50px;
  $height: 24px;

  input[type='checkbox'] {
    display: none;

    &:checked {
      + label {
        border-color: colors.$primary;
        background-color: rgb(35, 137, 255, 25%);

        &::after {
          left: $width - $height + 2px;
          background-color: colors.$primary;
        }
      }
    }
  }

  label {
    position: relative;
    display: block;
    width: $width + 2px;
    height: $height + 2px;
    border: 1px solid hsl(0, 0%, 70%);
    border-radius: calc(($height + 2px) / 2);
    background-color: hsl(0, 0%, 70%, 15%);
    box-shadow: inset 0 0 6px -4px rgb(0, 0, 0, 60%);
    cursor: pointer;

    body:not(.loading) & {
      transition-duration: 0.2s;
      transition-property: border-color, background-color;
    }

    &::after {
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      display: block;
      width: $height - 4px;
      height: $height - 4px;
      border-radius: 50%;
      background-color: hsl(0, 0%, 70%);
      // box-shadow: 0 0 5px -2px rgb(0, 0, 0, 75%);

      body:not(.loading) & {
        transition-duration: 0.2s;
        transition-property: left, background-color;
        will-change: left;
      }
    }
  }
}
