$sidepanel-min-width: 320px;
$scrollbar-width: 15px;

::-webkit-scrollbar {
  width: $scrollbar-width;
  height: $scrollbar-width;
  background-color: rgb(120, 120, 120);
}
::-webkit-scrollbar-corner {
  background-color: rgb(120, 120, 120);
}
::-webkit-scrollbar-thumb {
  border: 4px solid transparent;
  border-radius: calc($scrollbar-width / 2);
  background-color: hsl(240, 5%, 80%);
  background-clip: padding-box;

  &:hover {
    background-color: hsl(240, 5%, 90%);
  }
}

body {
  width: 100%;
  height: 100%;
  background-color: rgb(220, 220, 220);
  font-size: 14px;
  overflow: scroll;
}

#Items {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

#Comments {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1px;
  width: 100%;

  > header.row {
    position: sticky;
    top: 0;
    user-select: none;

    > .cell {
      background-color: rgb(120, 120, 120);
      color: #ffffff;
      font-weight: bold;
      text-align: center;

      &-nicoru {
        display: flex;
        justify-content: center;
        align-items: center;

        > svg {
          height: 1rem;
          filter: grayscale(1) brightness(1.2);
        }
      }
    }
  }

  .row {
    display: flex;
    flex-direction: row;
    gap: 1px;

    > .cell {
      display: block;
      height: 30px;
      line-height: 30px;
      padding: 0 5px;
      background-color: #fff;
      overflow: hidden;
      white-space: nowrap;
      word-break: break-all;
      text-overflow: ellipsis;

      &-text {
        width: 100%;
        // min-width: $sidepanel-min-width - $scrollbar-width;
        min-width: 100%;

        > span.command {
          &-color {
            padding: 2px 4px;
            border: 1px solid rgb(150, 150, 150);
            border-radius: 5px;
          }

          &-mincho {
            font-family: serif;
          }

          &-small {
            font-size: 75%;
          }

          &-big {
            font-size: 110%;
            font-weight: bold;
          }
        }
      }

      &-time {
        width: 80px;
        min-width: 80px;
      }

      &-nicoru {
        width: 40px;
        min-width: 40px;
      }

      &-date {
        width: 160px;
        min-width: 160px;
      }

      &-commands {
        width: 300px;
        min-width: 300px;
      }
    }
  }

  .item {
    &.hover {
      > .cell {
        background-color: #cee5ff !important;
      }
    }

    &.nicoru {
      &-lv1 .cell {
        background: #fefbec;
      }

      &-lv2 .cell {
        background: #fef5cf;
      }

      &-lv3 .cell {
        background: #fdeba0;
      }

      &-lv4 .cell {
        background: #fcd842;
      }
    }

    > .cell {
      &-time,
      &-nicoru {
        text-align: end;
      }

      &-time,
      &-nicoru,
      &-date,
      &-commands {
        font-family: monospace;
      }
    }
  }
}
