.NCOverlay-Capture {
  #bcplayer > *:not(.NCOverlay-Video, .NCOverlay-Canvas) {
    display: none !important;
  }
}

.NCOverlay-Plugin-windowSizeFullscreen {
  overflow: hidden;

  #bchplayer-box {
    position: fixed !important;
    inset: 0px !important;
    z-index: 9999 !important;
    width: 100% !important;
    height: 100% !important;
    min-width: 0px !important;
    min-height: 0px !important;
    max-width: none !important;
    max-height: none !important;
    margin: 0px !important;
    box-sizing: border-box !important;
    transform: none !important;
  }
}
