@mixin colorCommon {
  --primary--base: #2389ff;
  --primary--light: #3995ff;
  --primary--dark: #1f79e0;

  --primary-fg: #ffffff;
  --primary-fg--light: #ffffff;
  --primary-fg--dark: #ffffff;
}

@mixin colorLight {
  @include colorCommon;

  --primary: #1f79e0;

  --red: #ff3456;
  --green: #33ff70;
  --blue: #3366ff;
  --yellow: #fff945;

  // --bg--dark: hsl(0, 0%, 85%);
  // --bg: hsl(0, 0%, 95%);
  // --bg--light: hsl(0, 0%, 100%);

  --bg-primary: hsl(0, 0%, 100%);
  --bg-secondary: hsl(0, 0%, 96%);

  --fg-primary--dark: hsl(240, 5%, 0%);
  --fg-primary: hsl(240, 5%, 20%);
  --fg-primary--light: hsl(240, 5%, 40%);

  --fg-secondary--dark: hsl(240, 5%, 35%);
  --fg-secondary: hsl(240, 5%, 50%);
  --fg-secondary--light: hsl(240, 5%, 65%);

  --fg-tertiary--dark: hsl(240, 5%, 70%);
  --fg-tertiary: hsl(240, 5%, 80%);
  --fg-tertiary--light: hsl(240, 5%, 90%);
}

@mixin colorDark {
  @include colorCommon;

  --primary: #3995ff;

  --red: #ff4867;
  --green: #47ff7e;
  --blue: #6370ff;
  --yellow: #fffa58;

  // --bg--light: hsl(0, 0%, 15%);
  // --bg: hsl(0, 0%, 10%);
  // --bg--dark: hsl(0, 0%, 0%);

  --bg-primary: hsl(0, 0%, 8%);
  --bg-secondary: hsl(0, 0%, 12%);

  --fg-primary--light: hsl(240, 5%, 100%);
  --fg-primary: hsl(240, 5%, 80%);
  --fg-primary--dark: hsl(240, 5%, 60%);

  --fg-secondary--light: hsl(240, 5%, 65%);
  --fg-secondary: hsl(240, 5%, 50%);
  --fg-secondary--dark: hsl(240, 5%, 35%);

  --fg-tertiary--light: hsl(240, 5%, 30%);
  --fg-tertiary: hsl(240, 5%, 20%);
  --fg-tertiary--dark: hsl(240, 5%, 10%);
}

:root {
  @include colorLight;

  @media (prefers-color-scheme: dark) {
    @include colorDark;
  }
}

$primary--base: var(--primary--base);
$primary--light: var(--primary--light);
$primary--dark: var(--primary--dark);

$primary-fg: var(--primary-fg);
$primary-fg--light: var(--primary-fg--light);
$primary-fg--dark: var(--primary-fg--dark);

$primary: var(--primary);

$red: var(--red);
$green: var(--green);
$blue: var(--blue);
$yellow: var(--yellow);

// $bg: var(--bg);
// $bg--light: var(--bg--light);
// $bg--dark: var(--bg--dark);

$bg-primary: var(--bg-primary);
$bg-secondary: var(--bg-secondary);

$fg-primary: var(--fg-primary);
$fg-primary--light: var(--fg-primary--light);
$fg-primary--dark: var(--fg-primary--dark);

$fg-secondary: var(--fg-secondary);
$fg-secondary--light: var(--fg-secondary--light);
$fg-secondary--dark: var(--fg-secondary--dark);

$fg-tertiary: var(--fg-tertiary);
$fg-tertiary--light: var(--fg-tertiary--light);
$fg-tertiary--dark: var(--fg-tertiary--dark);
