.NCOverlay-Canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}

.NCOverlay {
  // Prime Video
  // &[data-nco-vod='primeVideo'] {
  // }

  // dアニメストア
  &[data-nco-vod='dAnime'] {
    .NCOverlay-Video {
      aspect-ratio: 16 / 9;
      height: auto !important;
      max-height: 100%;
      margin: auto;
    }

    .NCOverlay-Canvas {
      z-index: 2;
    }

    .NCOverlay-Canvas ~ .waitArea {
      position: absolute;
      inset: 0;
      z-index: 3;
      width: 100%;
      height: 100%;
    }
  }

  // ABEMA
  // &[data-nco-vod='abema'] {
  // }

  // Disney+
  // &[data-nco-vod='disneyPlus'] {
  // }

  // TVer
  // &[data-nco-vod='tver'] {
  // }

  // バンダイチャンネル
  // &[data-nco-vod='bandaiChannel'] {
  // }

  // U-NEXT
  // &[data-nco-vod='unext'] {
  // }

  // DMM TV
  // &[data-nco-vod='dmmTv'] {
  // }

  // Hulu
  &[data-nco-vod='hulu'] {
    .NCOverlay-Canvas {
      z-index: 1;
    }
  }

  // Lemino
  &[data-nco-vod='lemino'] {
    .NCOverlay-Canvas {
      z-index: 50;
    }
  }
}
