.NCOverlay-Video {
  height: auto !important;
  max-height: 100%;
  aspect-ratio: 16 / 9;
  margin: auto;
}

.NCOverlay-Canvas {
  z-index: 2;
}

.NCOverlay-Canvas ~ .waitArea {
  position: absolute;
  inset: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
}

.NCOverlay-Capture {
  .c-afterWatchHeader,
  .controller,
  .waitArea {
    display: none !important;
  }
}
