.NCOverlay-Capture {
  .NCOverlay-Canvas ~ * {
    display: none !important;
  }
}

#player:has(> video[src]) + #onboarding {
  display: none;
}

.media-default-skin--video {
  --media-color-primary: hsl(var(--heroui-foreground) / 1);
  --media-surface-background-color: hsl(var(--heroui-content1) / 1);
  --media-surface-backdrop-filter: none;

  visibility: hidden;
  outline: none !important;
  border-radius: unset !important;

  &:has(> video[src]) {
    visibility: visible;
  }

  .media-controls {
    border-color: hsl(var(--heroui-foreground-200) / 1);
    border-style: var(--tw-border-style);
    border-width: 1px;
  }

  .media-slider {
    .media-slider__track {
      background-color: color-mix(
        in oklab,
        hsl(var(--heroui-default-300) / 1) 50%,
        transparent
      );
    }

    .media-slider__value {
      bottom: calc(var(--spacing) * 8) !important;
      padding: 0.125em 0.5em;
      background-color: var(--media-surface-background-color);
      border-color: hsl(var(--heroui-foreground-200) / 1);
      border-style: var(--tw-border-style);
      border-width: 1px;
      border-radius: 99em;
    }
  }

  .media-overlay {
    backdrop-filter: none;
  }
}
