.NCOverlay-Capture {
  .NCOverlay-Canvas ~ * {
    display: none !important;
  }
}

#player:has(> video[src]) + #onboarding {
  display: none;
}

.media-default-skin--video {
  --media-accent-color: color-mix(
    in oklab,
    hsl(var(--heroui-default) / 1) 40%,
    transparent
  );
  --media-accent-text-color: hsl(var(--heroui-foreground) / 1);
  --default-accent-color: hsl(var(--heroui-foreground) / 1);
  --surface-background-color: hsl(var(--heroui-content1) / 1);
  --surface-backdrop-filter: none;

  visibility: hidden;
  outline: none !important;
  border-radius: unset !important;

  &:has(> video[src]) {
    visibility: visible;
  }

  .media-controls--root {
    color: hsl(var(--heroui-foreground) / 1);
  }

  .media-slider {
    .media-slider__track {
      background-color: color-mix(
        in oklab,
        hsl(var(--heroui-default-300) / 1) 50%,
        transparent
      );
    }

    .media-slider__preview {
      .media-slider__value {
        bottom: calc(
          var(--spacing) *
          5 +
          var(--media-tooltip-side-offset, 0px)
        );
        padding: calc(var(--spacing) * 1) calc(var(--spacing) * 2.5);
        font-size: var(--font-size-base);
        white-space: nowrap;
        background-color: var(--surface-background-color);
        border-radius: calc(Infinity * 1px);
        box-shadow:
          0 0 0 1px var(--surface-outer-border-color),
          0 1px 3px 0 var(--surface-shadow-color),
          0 1px 2px -1px var(--surface-shadow-color);
        translate: -50% 0;

        &::after {
          position: absolute;
          inset: 0;
          z-index: 10;
          pointer-events: none;
          content: "";
          border-radius: inherit;
          box-shadow:
            inset 0 1px 0 0 var(--surface-inner-border-color),
            inset 0 0 0 1px
            oklch(
              from var(--surface-inner-border-color) l c h /
              calc(alpha * 0.5)
            );
        }
      }
    }
  }

  .media-overlay {
    backdrop-filter: none;
  }
}
