.NCOverlay-Capture {
  .NCOverlay-Canvas ~ * {
    display: none !important;
  }
}

.media-default-skin--video {
  --media-color-primary: hsl(var(--heroui-foreground) / 1);
  --media-surface-background-color: hsl(var(--heroui-content1) / 1);
  --media-surface-backdrop-filter: none;

  .media-controls {
    border-color: hsl(var(--heroui-foreground-200) / 1);
    border-style: var(--tw-border-style);
    border-width: 1px;
  }

  .media-slider__track {
    background-color: color-mix(
      in oklab,
      hsl(var(--heroui-default-300) / 1) 50%,
      transparent
    );
  }

  .media-overlay {
    backdrop-filter: none;
  }

  .media-tooltip {
    display: none;
  }
}
