.NCOverlay-Capture {
  div[class^="player_container_"] {
    > *:not(div[class^="player_"]),
    .video-js > *:not(.NCOverlay-Video, .NCOverlay-Canvas) {
      display: none !important;
    }
  }
}

[nco-fullscreen] {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;

  > div[class^="player_aspectRatioWrapper__"] {
    width: min(100vw, 177.78vh);
    padding-top: min(56.25vw, 100vh);
  }
}
