.NCOverlay-Canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  object-fit: contain;
}

:root:has([nco-fullscreen]) {
  overflow: hidden;
}

[nco-fullscreen] {
  position: fixed !important;
  inset: 0 !important;
  z-index: 10000 !important;
  box-sizing: border-box !important;
  width: 100% !important;
  min-width: 0 !important;
  max-width: none !important;
  height: 100% !important;
  min-height: 0 !important;
  max-height: none !important;
  margin: 0 !important;
  transform: none !important;
}
