@import "tailwindcss";
@config "../../tailwind.config.js";

@theme {
  --breakpoint-side1: 0;
  --breakpoint-side2: 22rem;
  --breakpoint-side3: 25rem;
  --breakpoint-side4: 45rem;
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

/* *,
:after,
:before {
  outline: none !important;
} */

textarea {
  scrollbar-color: hsl(var(--heroui-default-200)) hsl(var(--heroui-content1));
}
